.DateIcon{
    text-align: center;
    position: relative;
    border: 1px solid black;
    font-size: 50%;
    font-weight: 700;
    width: fit-content;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 7fr; 
  }

  .DateIcon:hover{
    cursor: pointer;
    transition: all 100ms;
    transform: scale(1.3);
  }
  .tstrip{
    background-color: #f03232;
  }
  .dateWrapper{
     padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
  }
