.GroupDetailGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1vh 5vw 5vw 5vw;
    gap: 0.5rem;
    height: 75vh;
}



.Calendar{
    grid-column-start: 4;
    display: flex;
    flex-direction: column;
    gap: 10vh;

}
.Attending-Tag{
    background-color: rgb(209, 247, 209);
    border-radius: 6px;
}

.invite-button:hover{
    border: 1px solid black;
    background-color: #efefef;
    cursor: pointer;
}
.plus{
    font-size: 2rem;
    color: green;
}
.popout-rsvp{
    margin-left: 2rem;
}